@import "./styles/colors.css";
@import "tailwindcss";

@theme inline {
  --color-page-background: var(--color-background);
  --color-page-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-kanit), "Kanit", Arial, Helvetica, sans-serif;
}
